{% extends 'facebook/base-2.html' %}
{% load static %}


{% block content %}
  <head>
    <title>Password Reset</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/forgot_password_style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>

  <body>
    <div id="main">
        <div class="main" id="main-left">  </div>
        <div class="main" id="main-center">
          
          <div class="main_div">
            <div class="title">Password Reset</div>
       
            <form action="#">
              <div class="input_box">
                <input type="text" placeholder="your e-mail" required />
                <div class="icon"><i class="fas fa-at"></i></div>
              </div>
              
              <div class="option_div">
                
              
              </div>
              <div class="input_box button">
                <input id="submit" type="submit" value="Send" />
              </div>
              
              <div class="sign_up"> <a href="{% url 'authenticate:main_page' %}">Back to Login</a></div>
              <div class="sign_up">Not a member? <a href="{% url 'authenticate:register' %}">Signup now</a></div>
              
            </form>
          
          </div>
        
        </div>
        <div class="main" id="main-right"> </div>
          
    
    

  </body>
  </html>
  
  
  {% endblock %}


    <div class="main_div">
      <div class="title">Login Form</div>
      <div class="social_icons">
        <a href="#"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
        <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
      </div>
      <form action="#">
        <div class="input_box">
          <input type="text" placeholder="Login name or e-mail" required />
          <div class="icon"><i class="fas fa-user"></i></div>
        </div>
        <div class="input_box">
          <input type="password" placeholder="Password" required />
          <div class="icon"><i class="fas fa-lock"></i></div>
        </div>
        <div class="option_div">
          <div class="check_box">
            <input type="checkbox" />
            <span>Remember me</span>
          </div>
          <div class="forget_div">
            <a href="{% url 'authenticate:forgot_password' %}">Forgot password?</a>
          </div>
        </div>
        <div class="input_box button">
          <input type="submit" value="Login" />
        </div>
        <div class="sign_up">Not a member? <a href="{% url 'authenticate:register' %}">Signup now</a></div>
      </form>
    </div>
