{% extends 'facebook/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>My Posts</title>
    <meta charset="UTF-8" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_posts_style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <div id="main">
    
    <div id="main-left">
        
    </div >

    <div id="main-center">
        

        <div class="posts">
            <div class="main" id="main-center-posts"> 
                <div class="main-center-up">
                    <div class="center-profile-photo">
                        <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                    </div >
                    <div class="center-2">
                        <div>Suizan Lakkis</div>
                        <div style="color: gray;">23.09.2020</div>
                    </div> 
    
                </div>
                <div class="main-center-up-comment">
                    <p>Funny moments with friends</p>
                </div >
                <div class="main-center-media">
                    <div class="image-zone">Photo</div>
                </div >

                <div class="main-center-media-comments">
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                Very good
                            </div>
    
                        </div>
                        <div class="comments-date">
                            <p> <i>13.01.2020</i></p>
                       </div >
                    </div>
                    <hr>
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                comm 2
                            </div>
                               
                        </div>
                        <div class="comments-date">
                            <p> <i>23.07.2019</i></p>
                       </div > 
                    </div>
                    <hr>
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                comm 1
                            </div>
    
                        </div>
                        <div class="comments-date">
                            <p> <i>17.05.2020</i></p>
                       </div >
                    </div>
                    <hr>
                </div >
            </div> <!--end of main center--> 

            <div class="main" id="main-center-posts"> 
                <div class="main-center-up">
                    <div class="center-profile-photo">
                        <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                    </div >
                    <div class="center-2">
                        <div>Suizan Lakkis</div>
                        <div style="color: gray;">23.09.2020</div>
                    </div> 
    
                </div>
                <div class="main-center-up-comment">
                    <p>Funny moments with friends</p>
                </div >
                <div class="main-center-media">
                    <div class="image-zone">Photo</div>
                </div >

                <div class="main-center-media-comments">
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                Very good
                            </div>
    
                        </div>
                        <div class="comments-date">
                            <p> <i>13.01.2020</i></p>
                       </div >
                    </div>
                    <hr>
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                comm 2
                            </div>
                               
                        </div>
                        <div class="comments-date">
                            <p> <i>23.07.2019</i></p>
                       </div > 
                    </div>
                    <hr>
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                comm 1
                            </div>
    
                        </div>
                        <div class="comments-date">
                            <p> <i>17.05.2020</i></p>
                       </div >
                    </div>
                    <hr>
                </div >
            </div> <!--end of main center--> 

            <div class="main" id="main-center-posts"> 
                <div class="main-center-up">
                    <div class="center-profile-photo">
                        <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                    </div >
                    <div class="center-2">
                        <div>Suizan Lakkis</div>
                        <div style="color: gray;">23.09.2020</div>
                    </div> 
    
                </div>
                <div class="main-center-up-comment">
                    <p>Funny moments with friends</p>
                </div >
                <div class="main-center-media">
                    <div class="image-zone">Photo</div>
                </div >

                <div class="main-center-media-comments">
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                Very good
                            </div>
    
                        </div>
                        <div class="comments-date">
                            <p> <i>13.01.2020</i></p>
                       </div >
                    </div>
                    <hr>
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                comm 2
                            </div>
                               
                        </div>
                        <div class="comments-date">
                            <p> <i>23.07.2019</i></p>
                       </div > 
                    </div>
                    <hr>
                    <div >
                        <div class="comments-zone">
                            <div class="center-profile-photo">
                                <img class="center-avatar" src="../../static/images/fr9.jpeg" >
                            </div >
                            <div class="comments">
                                comm 1
                            </div>
    
                        </div>
                        <div class="comments-date">
                            <p> <i>17.05.2020</i></p>
                       </div >
                    </div>
                    <hr>
                </div >
            </div> <!--end of main center--> 

        </div>
    </div >

    <div id="main-right">
        
    </div >
  </div >

{% endblock %}