
<div class="dropdown">
    <div class="dropdown-content " id="notification-container">
        {% for notification in notifications %}
            {% if notification.room %}
            <div class="dropdown-item-parent {{ notification.pk}}">
                <div class="row like-comment-notifications">
                    <div class="col-12 p-0">
                        <a class="clo sent-you-message" id="{{ notification.pk}}"  href="{% url 'dm:inbox'  %}">{{notification.sender}} sent you a message</a>
                        <span class="dropdown-item-close "   ><i id="{{ notification.pk}}"  class="fas fa-times clo" ></i></span>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
            </div>      
            {% endif %}
        {% endfor %}
    </div>
</div >