{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Thread</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/thread_style.css' %}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
</head>

<body id="bod">
    <div class="container">
            <div class="card col-md-12 mt-5 p-3 shadow-sm" style="font-weight: bold; border-radius: 15px; margin-bottom: 10px; background-color: rgb(209, 176, 29);">
                {% if thread.receiver == request.user %}
                    {{thread.user}}
                {% else %}
                    {{thread.receiver}}
                {% endif %}
            </div >
        

        {% if message_list.all.count == 0 %}
            <div class="row my-5">
                <div class="col-md-12">
                    <p class="empty-text" style="color:green">No messages yet</p>
                </div>
            </div >
        {% endif %}
        
        <div class="message-body">
            {% for message in message_list %}
            <div class="row">
                <div class="col-md-12 ">
                    {% if message.sender_user == request.user %}
                        <div class="sender" >
                            <p>{{message.body}}</p>
                        </div>
                    {% elif message.receiver_user == request.user %}
                        <div class="receiver">
                            <p>{{message.body}}</p>
                        </div>
                    {% endif %}
                </div>
            </div >
        {% endfor %}
        </div >
       
        
        <div class="row">
            <div class="col-md-12 p-3 shadow-sm" >
                   <div style="display: flex; justify-content: center; margin:5px; align-items: baseline;">    
                    <input id="{{user.username}}" class="input-message" name="message"> 
                    <div class="d-grid gap-2 mt-3">
                        <button id={{thread.pk}} class="btn btn-info send-mess" type="submit">
                            Send
                        </button>
                    </div>
                   </div>
            </div >
        </div>
    </div>
</body>
<script>
    send_button = document.getElementsByClassName('send-mess');
    sent_message = document.getElementsByClassName('input-message')
    active_user = sent_message[0].id

        send_button[0].addEventListener('click', function(event){
        let xhr = new XMLHttpRequest();
        xhr.open('POST', "{% url 'profiles:create-message' %}");
        xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({thread_pk:event.target.id, message:sent_message[0].value }));
        sent_message[0].value = ''
        })
        
        function check() {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:create-message-js' %}");
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({thread_pk:send_button[0].id}));
            xhr.onreadystatechange = () => {
            if (xhr.readyState != 4) return;
            if (xhr.status == 200) {
            const data = JSON.parse(xhr.responseText)
            all_messages = data['messages']
            // sent_message[0].value = ''
            message_body = document.getElementsByClassName('message-body')
            message_body[0].innerHTML = ''
            for (i =0; i <all_messages.length; i++ ){
                div1 = document.createElement("div");
                div1.classList.add("row")
                div2 = document.createElement("div");
                div2.classList.add("col-md-12")
                div1.appendChild(div2)
                div3 = document.createElement("div");
                if (active_user == all_messages[i].receiver_name) {
                    div3.classList.add("receiver")
                    div2.appendChild(div3)
                    p1 = document.createElement("p");
                    p1.innerHTML = all_messages[i].body
                    div3.appendChild(p1)
                    }
                    if (active_user == all_messages[i].sender_name) {
                        div3.classList.add("sender")
                        div2.appendChild(div3)
                        p1 = document.createElement("p");
                        p1.innerHTML = all_messages[i].body
                        div3.appendChild(p1)
                    }
                    message_body[0].appendChild(div1)
                }
            }

        }
            if (xhr.status == 403) {
                document.location.href = "{% url 'authenticate:main_page' %}?next={{ request.get_full_path|urlencode }}"
            }
        }
        setInterval(check, 7000)
    
</script>
{% endblock content %}